body {
    font-family:sans-serif;
    font-size:11px
}
nav {
    padding:3px 10px;
    background-color:#333;
    overflow:hidden;
    height:40px
}
nav h1 {
    float:left;
    font-weight:300;
    color:lightgray;
    margin:10px 20px 5px 5px
}
nav ul {
    list-style-type: none;
}
nav li {
    float:left;
    margin-right:15px
}
nav a {
    color:#ccc;
    text-decoration:none
}
nav button {
    float:right;
    padding:8px 15px;
    color:#eee;
    background-color:#999;
    border:none;
    border-radius:3px;
    margin-top:-6px
}
.container-wide {
    padding:0 15px
}
.container-flex {
    display:flex
}
header h1 {
    font-weight:400;
    font-size:3em;
    margin:5px 0
}
article {
    padding:10px;
    border-radius:3px;
    background-color:rgb(248,215,218);
    color:rgb(115,28,36)
}
footer {
    padding:10px 0
}
.block-header {
    text-align:left;
    margin-top:10px;
    padding:10px;
    border:1px solid #ccc;
    background-color:#eee;
    border-top-left-radius:3px;
    border-top-right-radius:3px
}
.block-content {
    padding:10px;
    border:1px solid #ccc;
    margin-top:-1px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px
}
.block-content h2 {
    font-weight:300;
    padding-left:10px
}
form div {
    margin:10px
}
form label {
    display:inline-block;
    width:100px;
    color:#666"
}
form input {
    box-sizing:border-box;
    border:1px solid #ccc;
    color:#888;
    border-radius:3px;
    padding:5px;
    display:inline-block
}
form input[type=submit] {
    border:none;
    border-radius:3px;
    padding:10px 15px;
    color:#fff;
    background-color:rgb(0,123,255)
}
.text-center {
    text-align: center;
}
.col33 {
    flex:1;
    width:33%
}
.w100 {
    width:100%
}
.w150 {
    width:150px
}
.w300 {
    width:300px
}